html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161a1d;
}

h1{
    color: #e5383b;
}

h2,h3,h4,a, h5{
    color: #fff;
}

a{
    text-decoration: none;
}

.section-title{
    font-size: 2em;
    text-decoration: underline #e5383b;
}

/* SELECTION */

.section-title::selection{
    background-color: #e5383b;
    text-decoration-color: #fff;
}

/* SCROLL BAR */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #232a2f;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #232a2f;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e5383b;
}