#contacts{
    display: flex;
    flex-direction: column;
}

#contacts .section-title{
    align-self: center;
}

.contacts-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contacts .lc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#contacts .decoration{
    width: 20em;
    height: auto;
}

#contacts h4{
    font-size: 1.5em;
}

#contacts h4 a{
    color: #e5383b;
    text-decoration: underline;
}

.contacts-links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contacts-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
}

.contacts-links li a{
    font-size: 1.25em;
    padding: 0.5em;
    color: #4ad66d;
    border-bottom: #fff solid 3px;
    transition: 0.3s;
}

.contacts-links li a:hover{
    border: #4ad66d solid 3px;
    border-radius: 30px;
    background-color: #4ad66d;
    color: #fff;
}

/* SELECTION */

.contacts-container ::selection{
    background-color: #fff;
}


#contacts h4::selection{
    background-color: #e5383b;
}